/*css清零start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*css清零end*/
@charset "utf-8";
/* CSS Document */
a {text-decoration:none;color:#333;}
a:hover {text-decoration:none;color:#f90;}
.layout:after,.hd:after,.bd:after,.ft:after,.cf:after,.header:after,.wrap:after,.footer:after,.fn-clear:after{content:"";display:table;clear:both}
.layout,.hd,.bd,.ft,.cf,.header,.wrap,.footer,.fn-clear{*zoom:1}
.bold{font-weight:bold;}
.org{color:#f60;}
.undis{display: none}
.dis{display:block;}
.undisIm{display:none!important;}
.disIm{display:none!important;}
.fl{ float:left; display:inline-block;}
.fr{ float:right; display:inline-block;}
.yh{ font-family:"微软雅黑"; font-weight:normal;}
.posr{ position:relative; *zoom:1;}
* { margin: 0; padding: 0; }
html { font-size: 100%; }
body { font-family: "宋体", serif; font-size: 100%; }
h1 { color: #363636; font-size: 3.428571428571429em; font-family: 'Fredericka the Great', cursive; font-weight: normal; }
ul { list-style: none; }
a img { border: none; }
a { color: #333; text-decoration: none; }
a:hover, a:active, a:focus { color: #d34e16; text-decoration: none; }
img { max-width: 100%; height: auto; width: auto; }
p { line-height: 140%; }
.wrap,
.wrapper{width: 93.75%; /* 960px/1024px  */ margin: 0 auto}
header {overflow: hidden;background: #000;opacity: 0.8;filter:apha(opacity=80);}
#logo{padding: 0 20px;display: inline-block;}
#logo a{display: inline-block;}
.nav{padding: 10px 0;}
.nav li{padding: 0 20px;display: inline-block;line-height:30px;}
.nav li a{color: #fff}
.nav li a:hover{color: #f90}

@charset "utf-8";
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #f90;
    text-decoration: none;
}
.layout::after, .hd::after, .bd::after, .ft::after, .cf::after, .header::after, .wrap::after, .footer::after, .fn-clear::after {
    clear: both;
    content: "";
    display: table;
}
.layout, .hd, .bd, .ft, .cf, .header, .wrap, .footer, .fn-clear {
}
.bold {
    font-weight: bold;
}
.org {
    color: #f60;
}
.undis {
    display: none;
}
.dis {
    display: block;
}
.undisIm {
    display: none !important;
}
.disIm {
    display: none !important;
}
.fl {
    display: inline-block;
    float: left;
}
.fr {
    display: inline-block;
    float: right;
}
.yh {
    font-family: "微软雅黑";
    font-weight: normal;
}
.posr {
    position: relative;
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
}
body {
    font-family: "宋体",serif;
    font-size: 100%;
}
h1 {
    color: #363636;
    font-family: "Fredericka the Great",cursive;
    font-size: 3.42857em;
    font-weight: normal;
}
ul {
    list-style: outside none none;
}
a img {
    border: medium none;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    color: #d34e16;
    text-decoration: none;
}
img {
    height: auto;
    max-width: 100%;
    width: auto;
}
p {
    line-height: 140%;
}
.sod_select, .sod_select * {
    -moz-user-select: none;
    box-sizing: border-box;
}
.sod_select {
    background: url(../../images/index/arrow_icon.png) no-repeat 75px center;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    color: #777777;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    outline: 0 none;
    outline-offset: -2px;
    padding: 9px 15px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100px;
    float: left;
}
.sod_select:hover, .sod_select.open, .sod_select.focus {
    border-color: #dbdbdb;
}
.sod_select.focus {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.sod_select.open {
    border-radius: 3px 3px 0 0;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    color: #919191;
}
.sod_select.open.above {
    border-radius: 0 0 3px 3px;
    box-shadow: 1px -2px 5px rgba(0, 0, 0, 0.1);
}
.sod_select.disabled, .sod_select.disabled:hover {
    color: #b2b2b2;
    cursor: not-allowed;
    opacity: 0.8;
}
.sod_select .sod_label {
    overflow: hidden;
    padding-right: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sod_select .sod_prefix {
}
.sod_select .sod_placeholder {
}
.sod_select .sod_list {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #ffffff none repeat scroll 0 0;
    border-color: -moz-use-text-color #dbdbdb #dbdbdb;
    border-image: none;
    border-radius: 0 0 3px 3px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    height: auto;
    left: 0;
    margin: 0 0 0 -1px;
    position: absolute;
    top: 100%;
    width: 200px;
    z-index: 1;
}
.sod_select .sod_list::before {
    background: #dbdbdb none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: -1px;
}
.sod_select.open .sod_list {
    display: block;
}
.sod_select.disabled.open .sod_list {
    display: none;
}
.sod_select.above .sod_list {
    border-bottom: medium none;
    border-radius: 3px 3px 0 0;
    border-top: 1px solid #dbdbdb;
    bottom: 100%;
    box-shadow: 1px -2px 5px rgba(0, 0, 0, 0.1);
    top: auto;
}
.sod_select.above .sod_list::before {
    background: #dbdbdb none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 1px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: auto;
}
.sod_select .sod_list ul {
    border-radius: 3px;
    margin: 0;
    overflow-y: auto;
    padding: 0;
}
.sod_select .sod_list li {
    color: #676767;
    list-style-type: none;
    overflow: hidden;
    padding: 12px 15px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sod_select .sod_list .optgroup, .sod_select .sod_list .optgroup.disabled {
    background: inherit;
    color: #939393;
    font-size: 10px;
    font-style: italic;
}
.sod_select .sod_list .groupchild {
    padding-left: 20px;
}
.sod_select .sod_list .disabled {
    background: inherit;
    color: #cccccc;
}
.sod_select .sod_list .active {
    background: #fafafa none repeat scroll 0 0;
    color: #404040;
}
.sod_select .sod_list .selected {
    font-weight: 700;
    padding-right: 30px;
}
.sod_select .sod_list .selected::before {
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTAgOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8cGF0aCBmaWxsPSIjRDlEOUQ4IiBkPSJNNCw2LjdDMy42LDYuMywzLjUsNi4xLDMuMSw1LjdDMi42LDUuMiwyLDQuNiwxLjUsNC4xYy0wLjgtMC44LTIsMC40LTEuMiwxLjJjMC45LDAuOSwxLjksMS45LDIuOCwyLjgNCgkJYzAuNywwLjcsMS4zLDEsMiwwQzYuNyw2LDguMywzLjcsOS44LDEuNUMxMC41LDAuNSw5LTAuMyw4LjMsMC42bDAsMEM2LjcsMi45LDUuNyw0LjQsNCw2LjciLz4NCjwvZz4NCjwvc3ZnPg0K") repeat scroll 0 0;
    color: #808080;
    content: "";
    display: inline-block;
    height: 9px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
}
.sod_select.no_highlight .sod_list .selected::before {
    display: none;
}
.sod_select .sod_list .link {
}
.sod_select .sod_list .linkexternal {
}
.sod_select select {
    display: none !important;
}
.sod_select.touch select {
    display: block !important;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.iframebox{height: auto;}
body,html{width: 100%;background: #fff;color: #767c95;height: 100%;min-width:1448px;}
#header{width: 100%;height:60px;background: #41546f}
 .leftBar{width: 350px;float: left;background: #5a5a5a;height:800px;}
 .centerBody{margin-left: 350px;word-break:break-all;padding-left: 15px;}
 .wrap{width: 100%;background: #fff;}
 .crumbs{height: 80px;}